.sapMLabel {
    padding-top: 10px !important;
}

.errorHighlight {
    border-color: #e52929 !important;
    border-width: 2px !important;
}

.offsetLeft {
    margin-left: -35px
}

.popOverStyle {
    padding: 8px;
}

.blankOut {
    opacity: 1 !important;
    background-color: #fff !important;
}

.panelHidden {
    display: none
}

.panelShow {
    display: block
}

.sapMITBHead {
    margin-top: 0rem !important;
}

.sapUiPopupWithPadding .sapMDialogScrollCont {
    padding: 0rem !important;
}

.offsetMargin {
    margin-top: -5px !important
}

.xmlViewer .sapMDialogSection {
    overflow-x: hidden !important;
    margin-top: -1rem;
}

.sapMPanelContent {
    padding: 0px !important;
    padding-top: 1rem !important
}

.sapMRbBLabel {
    padding-top: 0px !important
}

.logoPadding {
    padding: 10px;
}

.objHeader.sapMOH {
    margin: 0rem;
    padding: 0rem;
    margin-top: 1rem;
}

.sapMITBFilter .sapMITBText {
    width: 100% !important;
}

.sapUiSizeCompact .sapUxAPAnchorBar.sapUxAPAnchorBarScrollRight .anchorBarArrowRight {
    margin-left: -20px !important
}